[submodule "xpra-html5"]
	path = xpra-html5
	url = https://github.com/Xpra-org/xpra-html5
[submodule "guacamole/guacamole-client-eaas"]
	path = guacamole/guacamole-client-eaas
	url = https://gitlab.com/emulation-as-a-service/guacamole-client-eaas/
